<header class="site-header">
    <div class="header-content">
        <h1 class="site-title">
            <a href="{{ site.baseurl }}">
                <img src="{{ site.baseurl }}/assets/icons/ha.svg" alt="Site Logo" class="logo">
            </a>
        </h1>
        <img src="{{ site.baseurl }}/assets/images/profile.jpg" alt="HA" class="profile-image">
    </div>
    <nav class="site-nav">
        <ul>
            {% for item in site.data.navigation %}
                <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
